.main-header-title {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-button {
  font-size: 20px;
  text-align: center;
  font-weight: 500;
}

.main-footer-content {
  display: flex;
  justify-content: flex-end;
  height: 40px;
  align-items: center;
}

.container {
  min-height: 900px;
  padding-bottom: 7px;
  flex: 1;    /* same as flex-grow: 1; */
}

.footer-container {
  display: block;
  width: 100%;
  bottom: 0 !important;
}
